<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- rMateGridH5 CSS -->
    <link rel="stylesheet" type="text/css" href="/rMateGridH5/Assets/rMateH5.css"/>
    <!-- rMateGridH5 라이센스 -->
    <script type="text/javascript" src="/rMateGridH5/LicenseKey/rMateGridH5License.js"></script>
    <!-- rMateGridH5 라이브러리 -->
    <script type="text/javascript" src="/rMateGridH5/JS/rMateGridH5.js"></script>

</head>
<body>
    <div id="gridHolder1" class="grid-area" style="height: 500px;"></div>
    <script type="text/javascript" src="/js/dysonCommon.js"></script>
    <script type="text/javascript" src="/js/dev.js"></script>
</body>
</html>